<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImageDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ImageDatabase.Properties.Settings>
            <setting name="IndexFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SurfThresholdSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfUniquenessThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfGoodMatchThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SurfAlgo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CEDDAlgo" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CodeBookFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="Locate_GoodThresholdDistance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SelectedAlgo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Locate_SizeOfCookbook" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Locate_IsCodeBookNeedToBeCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Locate_IsLteSchemeNeedToAppy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Locate_SelectedMethod" serializeAs="String">
                <value>1</value>
            </setting>
        </ImageDatabase.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="ImageSource" value="D:\\WatinScrappingImages\\Normal\\"/>
    <add key="SampleImageSource" value="D:\\WatinScrappingImages\\Normal\\30265_normal.JPG"/>
    
  </appSettings>
  <connectionStrings>
    <add name="ImageDBConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Project\ASH\Application\RND\ShabsEmguCVImpl\ImageDatabase\ImageDB.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>